@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700&display=swap");
/* intro */
.introBg {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(img/intro.jpg) center no-repeat;
  background-size: cover;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

/* flyAnimation */
.transformA {
  transform: scale(-1, 1);
}
.animeFly {
  @apply sm:animate-[animeFly_3s_ease_forwards];
}
@keyframes animeFly {
  0% {
    right: 50%;
    bottom: 15%;
    transform: scale(-1, 1);
  }
  90% {
    right: 5%;
    transform: scale(-1, 1) rotate(0.1turn);
  }
  100% {
    right: 5%;
    bottom: 100px;
    transform: scale(-1, 1) rotate(0.1turn);
  }
}

/* title font */
.titleh1 {
  @apply text-txt pt-6 text-ftcolor text-center sm:text-txh1 font-bold sm:text-left;
}
.titleh2 {
  @apply text-txfs leading-[1] sm:leading-[0.8] mb-8 text-ftcolor text-center sm:text-txt sm:font-bold sm:text-left sm:mb-32;
}

/* work block none */
.workBlock {
  @apply block;
}
.workNone {
  @apply hidden;
}

/* aboutSkill flex */
.skillFlex {
  @apply w-10 h-auto text-center text-txf text-ftcolor;
}

/* works */
.workh3 {
  @apply text-2xl sm:text-txt sm:font-bold text-center mb-2 sm:mb-5;
}

.workp {
  @apply text-left text-txf sm:text-txfs mb-10 sm:mb-14 leading-5 sm:leading-6;
}
